/*body{ margin: 0; padding: 10px; font-family: arial; }
*{ box-sizing: border-box; -webkit-box-sizing: border-box; }
.accordian-faqlist  .accordian-heading.active{ background:#eee; }

.accordian-faqlist{ display: block; width: 100%; position: relative; }
.accordian-faqlist:before,.accordian-faqlist:after{ content: ""; display: block; clear: both; }
.accordian-faqlist > .accordian-heading{ display: block; width: 100%; clear: both; background:#fff;position: relative; padding: 10px;}
.accordian-faqlist > .accordian-answer{ display: none; clear: both; width: 100%; padding: 15px 15px 15px 35px; border-top: 0; position: relative; z-index: 2; background:#fff;}
.accordian-answer + .accordian-heading{ margin-top: 10px; }
.icon-heading{    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
   
    cursor: pointer;
    text-align: center;
    
    color: #da5959;}
.headline-panel{ display: inline-block; vertical-align: middle; width: -webkit-calc(100% - 30px);width: -moz-calc(100% - 30px);width: calc(100% - 30px); padding-left: 10px; pointer-events: none;}

.accordian-faqlist  .accordian-heading .icon-heading i.fa-minus{ display: none; }
.accordian-faqlist  .accordian-heading.active .icon-heading i.fa-minus{ display: block; }
.accordian-faqlist  .accordian-heading.active .icon-heading i.fa-plus{ display: none; }
*/

.category_heading *{ font:inherit; margin: 0; padding:0; }
.category_heading{ font-size: 22px; margin-bottom: 12px; display: block; text-transform: capitalize; }

.xtreem_faq_main, .xtreem_faq_main *{ box-sizing: border-box; -webkit-box-sizing: border-box;}